{% extends "main/layout.html" %}
{% load static %}
{% block body %}
<nav class="navbar navbar-expand-lg" style="background-color: rgb(200, 226, 247); height: 140px;">
    <div>
        <h6 style="text-indent: 550px;">Home/<a style="color: blue;"  href="{% url 'about' %}">About</a></h6>
    </div>
</nav> 
<h3>Who are we?</h3>
It is a well-recognized brand in Sylhet metropolitan city since 2017. Here we have been providing digital IT services to our clients in our locality as well as abroad with a remarkable client satisfaction rate. And we did not only stop there. We also provide training on different sections of IT to create skilled personnel just like us!
</br>
<h3>Our IT Firms & Agency</h3>
Our digital service agency is run by a variety of specialized teams who work relentlessly in their respective field of work. Our teams include a design team, a marketing team, a creative writing team, a web design & development, and a UI/UX team. 

For any kind of digital business service you need, we are your one-stop solution for everything.

Ever since the establishment, we have completed more than thousands of projects. While a good number of those projects were from the local clients of our country, a massive number is from international clients. All of our teams have worked & still working on global marketplaces as well as for permanent contracts from many international companies. 

Ever since the establishment, we have completed more than thousands of projects. While a good number of those projects were from the local clients of our country, a massive number is from international clients. All of our teams have worked & still working on global marketplaces as well as for permanent contracts from many international companies. 
<h3>Our Training Center</h3>
To speak broadly about advanced IT skills, here we teach professional graphic design, web design, web development, SEO, Digital marketing, and an essential English course. We all know without English, there is no way of doing good in international markets. So we have made the English language course mandatory for all before they start to learn any of the IT skills.

All courses are conducted by Top Rated Marketplace sellers and professionals. Until now, thousands of students have taken our leading IT courses and their success rate is admirable. That is why often we hire the best & the brightest of our students to work for us when they excel in the industry just like us.
{% endblock %}